

.nav
  position: fixed
  z-index: 101
  display: flex
  width: 100%
  height: 10vh
  background: #fff
  box-shadow: 0px 10px 46px -28px rgba(0,0,0,0.75)

.links
  width: 100%
  display: flex
  justify-content: space-around
  align-items: center

.links li
  text-align: center
  position: relative
  padding-bottom: .3rem

.links li:after
  content: ""
  background: #000
  position: absolute
  bottom: 0
  left: 0
  height: 2px
  width: 0
  transition: width .3s ease-out

.links li:hover:after
  width: 100%