

.container
  display: flex
  align-items: center
  justify-content: center
  min-height: 70vh
  background: #3d66d8



.searchInput, .searchButton
  padding: .5rem



//////////////////

.searchResults
  margin: 30px auto
  width: 95%
  gap: .4rem
  display: grid
  grid-template-columns: 1fr 1fr
  // flex-wrap: wrap
  // align-items: center
  // justify-content: center
